# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\研究生文件\java学习资料\Leetcode\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
